<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ hostvars[groups['hadoop_master'][0]]['ansible_host'] | default(groups['hadoop_master'][0]) }}:9000</value>
  </property>
</configuration>