<configuration>
  <property>
    <name>dfs.replication</name>
    <value>{{ hdfs_replication | default(2) }}</value>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file:{{ hadoop_install_dir }}/hadoop-{{ hadoop_version }}/hdfs/datanode</value>
  </property>
</configuration>